@model IEnumerable<Roads.Models.Car>

@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

@{
    var currentUser = await UserManager.GetUserAsync(User);
}

<div class="CBan">
    <h1 class="display-4" id="cBanText">Car Builds</h1>
    @*<p id="pBanText">Here are some parts</p>*@
</div>
<br />
<form asp-controller="Cars" asp-action="Index">
    <div>
        <input type="text" name="SearchString" placeholder=" Search by Make or Model...">
        <input type="submit" value="Search" />
    </div>
</form>
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ImagePath)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Make)*@ @*@Html.DisplayNameFor(model => model.Model)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Year)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ApplicationUser)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="TIndex">
        @foreach (var item in Model)
        {
        <tr class="TContainer">
            <td>
                <image src="@Html.DisplayFor(modelItem => item.ImagePath)" alt="Product Image Unavailable" width="340" max-height="250" />
            </td>
            <td>           </td>
            <td class="TPart">
                <h3>@Html.DisplayFor(modelItem => item.Make) @Html.DisplayFor(modelItem => item.Model)</h3>
            </td>
            <td class="TPart">
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td class="TPart">
                by. @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
            </td>
            <td class="TButt">
                @if (item.ApplicationUserId != currentUser.Id)
                {
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    <br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    <br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
            <td>          </td>
        </tr>
        }
    </tbody>
</table>
