@model Roads.Models.Part

@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

@{
    var currentUser = await UserManager.GetUserAsync(User);
}


<h1>@Html.DisplayFor(model => model.Brand) - @Html.DisplayFor(model => model.Name)</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ImagePath)*@
        </dt>
        <dd class="col-sm-10">
            <image src="@Html.DisplayFor(model => model.ImagePath)" alt="Product Image Unavailable" width="500" height="500" />
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.PartType)*@
        </dt>
        <dd class="col-sm-10" color="gray">
            @Html.DisplayFor(model => model.PartType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>
    </dl>
</div>
<div>
    @if (Model.ApplicationUserId != currentUser.Id)
    {
    }
    else
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    <br />
    <a asp-action="Index">Back to List</a>
</div>
